# Python cache and build
__pycache__/
*.pyc
.eggs
*.egg-info/

# Vscode
/.vscode

# Vim
*.swp
*.swo

# Binary files
/*.h5
/*.hdf5
*.pt
*.o
*.so
*.pckl
*.zip
a.out

# Mypy and test cache
.mypy_cache/
.pytest_cache/

# Ninja
*.ninja
*.ninja_log

# Code coverage
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints
Untitled.ipynb

# Full directories relative to project root
/tests/runs/
/tools/plots/
/tools/benchmark/
# Build output of Sphinx docs
/docs/build/
# Build output of CUDA / C++ extensions
/build/

# Nvidia Nsight Systems profiling
*.qdrep
*.qdstrm
*.nsys-rep
report*.sqlite

# Workflows and github-specific stuff
.github/
# No git objects if using a path context
.git/

# logos and compressed downloads
*.png

# Dockerfiles
conda.Dockerfile
Dockerfile
