[flake8]
# W503 is line-break-before-binary-operator which in PEP8 is the exact opposite
# of what flake8 enforces
ignore = W503
max-line-length = 88
# dump_dispersion constants only has data, its not necessary to lint it
exclude =
    .git,
    __pycache__,
    .eggs,
    build,
    torchani.egg-info,
    docs/examples
    tools/dump_dispersion_constants.py
