*.h5 filter=lfs diff=lfs merge=lfs -text
tests/test_data/ANI1_subset/* filter=lfs diff=lfs merge=lfs -text
tests/test_data/NIST/* filter=lfs diff=lfs merge=lfs -text
tests/test_data/NeuroChemOptimized/* filter=lfs diff=lfs merge=lfs -text
tests/test_data/benzene-md/* filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/* filter=lfs diff=lfs merge=lfs -text
tools/generate-unit-test-expect/nist-dataset/result.json filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/78.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/16.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/22.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/27.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/35.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/45.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/67.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/61.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/7.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/84.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/91.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/96.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/93.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/33.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/36.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/39.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/52.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/79.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/80.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/0.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/14.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/37.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/46.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/11.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/58.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/65.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/76.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/81.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/18.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/21.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/51.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/68.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/88.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/9.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/3.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/31.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/4.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/56.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/82.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/87.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/47.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/50.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/17.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/24.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/25.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/26.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/34.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/38.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/53.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/63.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/29.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/30.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/42.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/54.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/70.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/74.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/99.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/62.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/72.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/75.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/77.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/92.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/97.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/95.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/12.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/13.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/40.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/49.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/57.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/64.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/60.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/69.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/85.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/94.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/5.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/59.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/1.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/15.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/2.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/20.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/32.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/43.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/6.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/71.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/73.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/8.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/98.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/19.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/44.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/48.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/86.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/66.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/83.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/90.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/10.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/23.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/28.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/41.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/55.dat filter=lfs diff=lfs merge=lfs -text
tests/test_data/tripeptide-md/89.dat filter=lfs diff=lfs merge=lfs -text
