# Python cache and build
__pycache__/
*.pyc
.eggs
*.egg-info/

# Vscode
/.vscode

# Vim
*.swp
*.swo

# Binary files
/*.h5
/*.hdf5
*.pt
*.o
*.so
*.pckl
*.zip
a.out

# Mypy and pytest cache
.mypy_cache/
.pytest_cache/

# Ninja
*.ninja
*.ninja_log

# Code coverage
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints
Untitled.ipynb

# Full directories relative to project root
/tests/runs/
/tools/plots/
/tools/benchmark/
# Data downloaded with download.sh
/download/
# Used for CUB when building CUDA / C++ extensions
/include/
# Build output of Sphinx docs
/docs/build/
# Build output of CUDA / C++ extensions
/build/

# Nvidia Nsight Systems profiling
*.qdrep
*.qdstrm

*.prof
*checkpoint*
/*.ipt
/*.params
/*.dat
/tmp
datacache
dist
examples/dataset.pkl
examples/batched_dataset_1x/*
/tests/.hypothesis
