*.prof
/tools/benchmark/*
__pycache__
nohup.out
/data
a.out
/test.py
/.vscode
/build*
.eggs
*.egg-info
*.ninja
/torchani.egg-info
/*.h5
/*.hdf5
.ipynb_checkpoints
benchmark_xyz
*.pyc
*checkpoint*
*.pt
/tests/runs
/quicktest.py
/*.ipt
/*.params
/*.dat
*.o
*.so
*.ninja_log
/tmp
*_cache
datacache
dist
*.pckl
# No vim swap files
*.swp
*.swo
/download
/download.tar.xz
*.qdrep
*.qdstrm
*.zip
Untitled.ipynb
/nnp_training.py
/test*.py
.coverage
htmlcov/
/include
training_outputs/
examples/dataset.pkl
/tools/plots/*
