# This file collects optional dependencies of torchani.

# Build system requirements needed to install with 'pip --no-build-isolation'
# (this is necessary to install the torchani extensions with the pip frontend)
setuptools>=64
setuptools-scm>=8

# Ase interface, used in ase test, ase docs example, tools, in the ase module
ase

# Tests: tests-runner and class parametrization
pytest
parameterized

# Tests: Indirect dependency of torch.testing
expecttest

# Tests: Extra data backends (parquet and zarr)
pandas
pyarrow
zarr

# Docs: Sphinx-related, for building the docs
sphinx
sphinx-gallery
sphinx-design
pydata-sphinx-theme

# Docs: For logging on training example
tensorboard

# Tools: Utils for running various scripts found in /torchani/tools/
pynvml
matplotlib
jinja2

# Dev: Utils for linting and type checking
flake8
mypy
