name: ani
channels:
  - nodefaults
  - https://conda.anaconda.org/pytorch
  - https://conda.anaconda.org/nvidia
  - https://conda.anaconda.org/conda-forge
dependencies:
  ## Required dependencies to run TorchANI ##
  - python=3.10
  - pip>=24.0
  - numpy=1.26
  - pytorch::pytorch=2.5  # Modify to 'pytorch::pytorch=2' if installing on macOS
  - typing_extensions>=4.0.0
  - h5py  # HDF5 backend for datasets
  - tqdm  # progress bar util
  - typer  # CLI support
  - rich  # CLI support

  # Optional dependencies follow:

  ## ASE interface ##
  # Used for molecular dynamics and for tests/tools/docs
  - ase

  ## NVIDIA CUDA GPU support ##
  - pytorch::pytorch-cuda=11.8  # Comment this line if installing on macOS, or to **disable** CUDA GPU support in any platform
  #- pytorch::cpuonly  # Uncomment this line to **disable** CUDA GPU support in Linux

  ## cuAEV and MNP ##
  # For more details consult the "developer notes" section in README.md
  # If installing on macOS, or if CUDA GPU support is **disabled**, comment all lines on this block
  - setuptools>=64
  - setuptools-scm>=8
  - gxx_linux-64=11.4
  - gcc_linux-64=11.4
  - nvidia::cuda-libraries-dev=11.8
  - nvidia::cuda-cccl=11.8
  - nvidia::cuda-nvcc=11.8

  ## Running torchani/tests ##
  - coverage  # code coverage
  - black  # formatter
  - flake8  # linter
  - mypy  # type checking
  - pytest  # tests runner
  - pre_commit  # run pre commit hooks
  - parameterized  # parametrize test classes
  - expecttest  # indirect dependency of torch.testing
  # Extra data backends for tests:
  - pandas  # Parquet backend
  - pyarrow  # Parquet backend
  - zarr  # Zarr backend

  ## Running scripts in torchani/tools ##
  - matplotlib
  - pynvml
  - jinja2  # Templating engine to build generated code and docs

  ## Building torchani/docs ##
  - sphinx
  - sphinx-design
  - sphinx-gallery
  - pydata-sphinx-theme
  - tensorboard
