# This file collects optional dependencies of torchani.

# Ase interface, used in ase test, ase docs example, tools, in the ase module
ase

# Legacy neurochem model loader, used in the neurochem module and tested in neurochem test
lark-parser

# Tests: tests-runner and class parametrization
pytest
parameterized

# Tests: Indirect dependencies of torch.testing
expecttest

# Tests: Extra data backends (parquet and zarr)
pandas
pyarrow
zarr

# Docs: Sphinx-related, for building the docs
sphinx
sphinx_rtd_theme
sphinx-gallery

# Docs: For logging on training example
tensorboard

# Tools: Utils for running various scripts found in /torchani/tools/
pynvml
matplotlib
