#!/bin/bash
#SBATCH --job-name={{ name }}
#SBATCH --output={{ name }}.out
#SBATCH --partition={{ 'hpg-b200' if gpu == "b200:1" else 'hpg-turin' }}
#SBATCH --qos=mingjieliu-faimm
#SBATCH --account=mingjieliu-faimm
#SBATCH --gres=gpu:{{ gpu }}
#SBATCH --time=200:00:00
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task={{ num_workers + 1}}

module purge
CONDA_LOC='/blue/roitberg/ipickering/'
eval "$("$CONDA_LOC/Conda/bin/conda" 'shell.bash' 'hook')"
export MAMBA_EXE="$CONDA_LOC/Conda/bin/mamba";
export MAMBA_ROOT_PREFIX="$CONDA_LOC/Conda";
eval "$("$MAMBA_EXE" shell hook --shell bash --root-prefix "$MAMBA_ROOT_PREFIX")"
mamba activate {{ "ani-blackwell" if gpu == "b200:1" else "anitune" }}

anitune {{ args }}
